# Byte-compiled files
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
dream_interpreter_env/
env/
venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs and debug files
*.log
*.out
*.err

# OS-specific files
.DS_Store
Thumbs.db

# Python egg files
*.egg
*.egg-info/
dist/
build/

# Cache files
*.cache
*.pytest_cache/

# IDE-specific files
.vscode/
.idea/

# Environment variables
.env